.banner--mobile { display: block; width: 100%; }
.banner--desktop { display: none; width: 100%; }


@include for-tablet-portrait-up {
  .banner--mobile { display: none; }
  .banner--desktop { display: block; }
}
