.contact {
  background-position: center center;
  background-size: cover;
}

.contact__title {
  @extend .text--center;
  margin: 1em 0;

  &:after {
    content: '.';
    color: #09AF94;
  }
}

.contact__message {
  min-height: 10em;
}

.contact__submit {
  display: block;
  margin: 1em auto;
}
