.usps {
  background-color: #000;
}

.usps__title {
  @extend .text--center;
  color: #fff;
  margin: 2em 0;

  &:after {
    content: '.';
    color: #09AF94;
  }
}

.usp__icon {
  max-width: 100px;
  margin: 0 auto 1em;
  display: block;
}

.usps__para {
  @extend .text--center;
  color: #fff;
  font-weight: bold;
}
