.btn {
  display: inline-block;
  cursor:pointer;
  transition: background-color 0.1s ease;
  padding: 0.5em 1em;
  background-color: $btn-default-bg-color;
  color: $btn-default-font-color;
  font-weight: bold;
  text-decoration: none;
  border-radius: $base-border-radius;

  &:hover {
    background-color: lighten($btn-default-bg-color, 5%);
    color: $base-link-color;
    text-decoration: none;
  }

  > * {
    display: inline-block;
    padding: 10px 2.5px;
  }
}

.btn__label {
  display: inline-block;
  position: relative;
  top: -2px;
  margin-right: 10px;
}

.btn--primary {
  background-color: $btn-primary-bg-color;
  color: $btn-primary-font-color;
  border: none;

  &:hover {
    background-color: lighten($btn-primary-bg-color, 5%);
    color: $btn-primary-font-color;
  }
}

