
// TYPOGRAPHY
$base-font-stack: 'Montserrat', sans-serif;
$header-font-stack: 'Montserrat', sans-serif;

$base-font-size: 16px;
$base-line-height: 1.6;
$base-letter-spacing: 0px;
$base-font-weight: 300;


// COLORS

$color-brand-1: #09AF94;
$color-brand-2: #0984e3;
$color-brand-3: #fab1a0;

$color-form-error: #e74c3c;
$color-form-success: #1abc9c;

$body-background-color: #eee;

$base-font-color: #333;
$base-link-color: $color-brand-1;

$btn-default-bg-color: #fff;
$btn-default-font-color: $base-font-color;

$btn-primary-bg-color: $color-brand-1;
$btn-primary-font-color: #fff;


// STYLING

$base-border-radius: 3px;

// PANElS
$panel-bg-color: #fff;
