<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600" />
    <link rel="stylesheet" href="assets/themify-icons.css" />
    <link rel="stylesheet" href="assets/main.css" />

    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="page-wrapper">
      <!--HERO-->
      <div class="grid hero">
        <div class="grid__item sm--12">
          <img src="assets/images/home-hero.jpg" />
        </div>
      </div>
      <!--USPS-->
      <div class="grid usps">
        <div class="grid__item sm--12 md--10 md--push-1 lg--8 lg--push-2">
          <div class="grid grid--sm-padded grid--h-center">
            <div class="grid__item sm--12">
              <h2 class="usps__title">We're your complete end-to-end online retail partner.</h2>
            </div>
            <div class="grid__item sm--12 md--6 lg--4">
              <img class="usp__icon" src="/assets/images/devices.svg" />
              <p class="usps__para">We build and maintain user-friendly, customer-focused e-commerce sites.</p>
            </div>
            <div class="grid__item sm--12 md--6 lg--4">
              <img class="usp__icon" src="/assets/images/ideas.svg" />
              <p class="usps__para">We design and produce a range of quality, responsibly sourced products and manage the supply chain on your behalf.</p>
            </div>
            <div class="grid__item sm--12 md--6 lg--4">
              <img class="usp__icon" src="/assets/images/stock.svg" />
              <p class="usps__para">We hold stock and globally distribute to customers, managing all the logistics along the way.</p>
            </div>
            <div class="grid__item sm--12 md--6 lg--4">
              <img class="usp__icon" src="/assets/images/support.svg" />
              <p class="usps__para">We also manage your customer service and we are passionate about keeping your customers delighted, as we know it is a vital ingredient continuous growth.</p>
            </div>
            <div class="grid__item sm--12 md--6 lg--4">
              <img class="usp__icon" src="/assets/images/presentation.svg" />
              <p class="usps__para">We deliver comprehensive management and reporting of accounts.</p>
            </div>
            <div class="grid__item sm--12">
              <h2 class="usps__title">You can focus on running your business, while we take of care of the retail.</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- PORTFOLIO -->
      <div class="grid portfolio">
        <div class="grid__item sm--12 lg--6">
          <div class="portfolio__item">
            <div class="portfolio__background" style="background-image: url('assets/images/chpt3.jpg')"></div>
            <div class="portfolio__content grid">
              <div class="grid__item sm--10 lg--7">
                <h3 class="portfolio__title">CHPT3</h3>
                <p class="portfolio__para">Luxury cycling clothing. Lifestyle goods, bikes and accessories imagined by ex-pro David Millar, co-owned by Green Snow. Professional, performance clothing meets classic tailoring to form the very best outfit available on the market.</p>
                <a href="" class="btn btn--primary">Visit CHPT3.com</a>
              </div>
            </div>
          </div>
        </div>
        <div class="grid__item sm--12 lg--6">
          <div class="portfolio__item">
            <div class="portfolio__background" style="background-image: url('assets/images/psn.jpg')"></div>
            <div class="portfolio__content grid">
              <div class="grid__item sm--10 lg--7">
                <h3 class="portfolio__title">Play Sports Network</h3>
                <p class="portfolio__para">With tens of millions of video views every month GCN, GMBN, GTN &amp; EMBN have an incredible global fan base. We offer casual clothing, cycling kit and accessories for all brands shipping products worldwide.</p>
                <a href="" class="btn btn--primary">OCN</a>
                <a href="" class="btn btn--primary">GMBN</a>
                <a href="" class="btn btn--primary">GTN</a>
                <a href="" class="btn btn--primary">EMBN</a>
              </div>
            </div>
          </div>
        </div>
        <div class="grid__item sm--12 lg--6">
          <div class="portfolio__item">
            <div class="portfolio__background" style="background-image: url('assets/images/team-sky.jpg')"></div>
            <div class="portfolio__content grid">
              <div class="grid__item sm--10 lg--7">
                <h3 class="portfolio__title">Team Sky</h3>
                <p class="portfolio__para">While Team Sky are fighting for Grand Tour victories, we manage everything ecommerce, including developing own label fan merchandise ranges to create long term revenue streams for the team.</p>
                <a href="" class="btn btn--primary">Visit Team Sky Store</a>
              </div>
            </div>
          </div>
        </div>
        <div class="grid__item sm--12 lg--6">
          <div class="portfolio__item">
            <div class="portfolio__background" style="background-image: url('assets/images/rouleur.jpg')"></div>
            <div class="portfolio__content grid">
              <div class="grid__item sm--10 lg--7">
                <h3 class="portfolio__title">Rouleur.cc</h3>
                <p class="portfolio__para">The world's finest road cycling journal, for the most discerning rider. Offering carefully curated premium cycling mechandise. Featuring branded exclusives, high profile collaborations and a core own-brand range.</p>
                <a href="" class="btn btn--primary">Visit Rouleur.cc</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid contact">
        <div class="grid__item sm--12 md--10 md--push-1 lg--6 lg--push-3">
          <form class="grid grid--sm-padded">
            <div class="grid__item sm--12">
              <h2 class="contact__title">Contact Us</h2>
            </div>
            <div class="grid__item sm--12 lg--6">
              <input type="text" placeholder="Name" />
            </div>
            <div class="grid__item sm--12 lg--6">
              <input type="email" placeholder="Email" />
            </div>
            <div class="grid__item sm--12">
              <textarea class="contact__message" placeholder="Message"></textarea>
            </div>
            <div class="grid__item sm--12">
              <button type="submit" class="btn btn--primary contact__submit">Send Message</button>
            </div>
          </form>
          <footer class="grid">
            <div class="grid__item sm--12">
              <h3 class="footer__title">We equip your tribe</h3>
            </div>
            <div class="grid__item sm--12">
              <p>The Old School, Southampton Road, Cadnam, Southampton, SO40 2NF</p>
              <p>Copyright &copy; Green Snow Limited 2018</p>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
