<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <link rel="stylesheet" href="assets/themify-icons.css" />
    <link rel="stylesheet" href="assets/main.css" />

    <!-- jquery & iScroll -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

    <title>{{ page.title }}</title>
  </head>
  <body class="drawer drawer--right">
    <div class="page-wrapper">
      <header>
        <div class="desktop-header">
          <h1 class="header-logo"><a href="/"><img class="banner--desktop" src="assets/images/gs-logo-white.png" /></a></h1>
          <ul>
            <li>
              <a href="/" title="Go to {{ item.title }}">Home</a>
            </li>
            {% for item in site.menus.header %}
              <li>
                <a href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="mobile-header">
          <h1 class="header-logo"><a href="/"><img src="assets/images/gs-logo-white.png" /></a></h1>
          <button type="button" class="drawer-toggle drawer-hamburger">
          <span class="sr-only">toggle navigation</span>
          <span class="drawer-hamburger-icon"></span>
          </button>
          <nav class="drawer-nav" role="navigation">
            <ul class="drawer-menu">
              <li>
                <a class="drawer-menu-item" href="/" title="Go to {{ item.title }}">Home</a>
              </li>
              {% for item in site.menus.header %}
                <li class="menu-item-{{ loop.index }}">
                  <a  class="drawer-menu-item" href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </header>
      <!--HERO-->
      <div class="grid hero">
        <div class="grid__item sm--12">
          <img class="banner--desktop" src="assets/images/gs-hero-1.jpg" />
          <img class="banner--mobile" src="assets/images/gs-hero-mobile.jpg" />
        </div>
      </div>
      <!--USPS-->
      <div class="grid usps">
        <div class="grid__item sm--12 md--10 md--push-1 lg--8 lg--push-2">
          <div class="grid grid--sm-padded grid--h-center">
            <div class="grid__item sm--12">
              <p class="text--large"><strong>We deliver an end-to-end e-commerce management service. We build customer-focused online retail experiences that are designed to delight our partners’ customers and appeal directly to their passions.</strong></p>
            </div>
            <div class="grid__item sm--12 md--6">
              <p>We’re great at what we do because we’ve created a unique approach, which is born out of our own
              love for brands and the great outdoors. This tailored, fan-focused approach to online retail management has helped us develop some of the best loved niche online retail brands in the world.</p>
            </div>
            <div class="grid__item sm--12 md--6">
              <p>For us, it’s all about selling high quality, ethically made accessories and clothing, which align perfectly to your brand values and make your fans proud to wear your marque.</p>
            </div>
          </div>
        </div>
        <div class="grid__item sm--12 md--10 md--push-1 lg--8 lg--push-2">
          <div class="grid grid--sm-padded grid--h-center">
            <div class="grid__item sm--12">
              <h2 class="usps__title">We're your complete end-to-end online retail partner.</h2>
            </div>
            <div class="grid__item sm--12 md--6 lg--4">
              <img class="usp__icon" src="assets/images/devices.svg?sanitize=true" />
              <p class="usps__para">We build and maintain user-friendly, customer-focused e-commerce sites.</p>
            </div>
            <div class="grid__item sm--12 md--6 lg--4">
              <img class="usp__icon" src="assets/images/ideas.svg?sanitize=true" />
              <p class="usps__para">We design and produce a range of quality, responsibly sourced products and manage the supply chain on your behalf.</p>
            </div>
            <div class="grid__item sm--12 md--6 lg--4">
              <img class="usp__icon" src="assets/images/stock.svg?sanitize=true" />
              <p class="usps__para">We hold stock and globally distribute to customers, managing all the logistics along the way.</p>
            </div>
            <div class="grid__item sm--12 md--6 lg--4">
              <img class="usp__icon" src="assets/images/support.svg?sanitize=true" />
              <p class="usps__para">We also manage your customer service and we are passionate about keeping your customers delighted.</p>
            </div>
            <div class="grid__item sm--12 md--6 lg--4">
              <img class="usp__icon" src="assets/images/presentation.svg?sanitize=true" />
              <p class="usps__para">We deliver comprehensive management and reporting of accounts.</p>
            </div>
            <div class="grid__item sm--12">
              <h2 class="usps__title">You can focus on running your business, while we take of care of the retail.</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- PORTFOLIO -->
      <div class="grid portfolio">
        <div class="grid__item sm--12 lg--6">
          <div class="portfolio__item">
            <div class="portfolio__background" style="background-image: url('assets/images/team-gb.jpg')"></div>
            <div class="portfolio__content grid">
              <div class="grid__item sm--10 lg--7">
                <h3 class="portfolio__title">Team GB</h3>
                <p class="portfolio__para">Representing the British Olympic Association with the official Team GB store building up to the 2020 Olympics in Japan and beyond.</p>
                <a href="https://shop.teamgb.com" class="btn btn--primary">Visit Team GB Shop</a>
              </div>
            </div>
          </div>
        </div>
        <div class="grid__item sm--12 lg--6">
          <div class="portfolio__item">
            <div class="portfolio__background" style="background-image: url('assets/images/team-sky.jpg')"></div>
            <div class="portfolio__content grid">
              <div class="grid__item sm--10 lg--7">
                <h3 class="portfolio__title">Team Sky</h3>
                <p class="portfolio__para">Britain's most successful cycling team with 6 grand tour victories in the last 7 years, and the most widely support professional cycling team in the world.</p>
                <a href="https://store.teamsky.com/" class="btn btn--primary">Visit Team Sky Store</a>
              </div>
            </div>
          </div>
        </div>
        <div class="grid__item sm--12 lg--6">
          <div class="portfolio__item">
            <div class="portfolio__background" style="background-image: url('assets/images/psn.jpg')"></div>
            <div class="portfolio__content grid">
              <div class="grid__item sm--10 lg--7">
                <h3 class="portfolio__title">Play Sports Network</h3>
                <p class="portfolio__para">With tens of millions of video views every month across various social media channels they are the world’s biggest cycling media outlet.</p>
                <a href="https://www.globalcyclingnetwork.com/" class="btn btn--primary">GCN</a>
                <a href="https://www.gmbn.com/" class="btn btn--primary">GMBN</a>
                <a href="https://www.globaltrinetwork.com/" class="btn btn--primary">GTN</a>
                <a href="https://www.embn.com/" class="btn btn--primary">EMBN</a>
              </div>
            </div>
          </div>
        </div>
        <div class="grid__item sm--12 lg--6">
          <div class="portfolio__item">
            <div class="portfolio__background" style="background-image: url('assets/images/chpt3.jpg')"></div>
            <div class="portfolio__content grid">
              <div class="grid__item sm--10 lg--7">
                <h3 class="portfolio__title">CHPT3</h3>
                <p class="portfolio__para">Creative design house imagined by ex-pro David Millar, with premium collaborations including Castelli, Brompton Bicycles, POC Sports, Factor + More.</p>
                <a href="http://chpt3.com" class="btn btn--primary">Visit CHPT3.com</a>
              </div>
            </div>
          </div>
        </div>
        <div class="grid__item sm--12 lg--6">
          <div class="portfolio__item">
            <div class="portfolio__background" style="background-image: url('assets/images/rouleur.jpg')"></div>
            <div class="portfolio__content grid">
              <div class="grid__item sm--10 lg--7">
                <h3 class="portfolio__title">Rouleur.cc</h3>
                <p class="portfolio__para">The world's finest road cycling journal for the most discerning rider bringing news from inside the peloton, world class events and online Rouleur Emporium.</p>
                <a href="https://rouleur.cc/" class="btn btn--primary">Visit Rouleur.cc</a>
              </div>
            </div>
          </div>
        </div>
        <div class="grid__item sm--12 lg--6">
          <div class="portfolio__item">
            <div class="portfolio__background" style="background-image: url('assets/images/curtains.jpg')"></div>
            <div class="portfolio__content grid">
              <div class="grid__item sm--10 lg--8">
                <h3 class="portfolio__title">Curtains</h3>
                <p class="portfolio__para">A collection of curtain related ecommerce business across sheers, boutique commercial and mass market window coverings.</p>
                <a href="https://lovemywindow.com/" class="btn btn--primary">LoveMyWindow</a>
                <a href="http://fencasa.com/" class="btn btn--primary">Fencasa</a>
                <a href="https://www.netcurtainsdirect.com/" class="btn btn--primary">NetCurtainsDirect</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid contact">
        <div class="grid__item sm--12 md--10 md--push-1 lg--6 lg--push-3">
          <form class="grid grid--sm-padded">
            <div class="grid__item sm--12">
              <h2 class="contact__title">Contact Us</h2>
            </div>
            <div class="grid__item sm--12 lg--6">
              <input type="text" placeholder="Name" />
            </div>
            <div class="grid__item sm--12 lg--6">
              <input type="email" placeholder="Email" />
            </div>
            <div class="grid__item sm--12">
              <textarea class="contact__message" placeholder="Message"></textarea>
            </div>
            <div class="grid__item sm--12">
              <button type="submit" class="btn btn--primary contact__submit">Send Message</button>
            </div>
          </form>
          <footer class="grid">
            <div class="grid__item sm--12">
              <p>Copyright &copy; Green Snow Limited 2018</p>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        $('.drawer').drawer();
      });
    </script>
  </body>
</html>
  
