<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <link rel="stylesheet" href="assets/themify-icons.css" />
    <link rel="stylesheet" href="assets/main.css" />

    <link rel="icon" type="image/png" href="favicon.png" />

    <!-- jquery & iScroll -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

    <title>Green Snow Ltd - {{ page.title }}</title>
  </head>
  <body class="drawer drawer--right">
    <div class="page-wrapper">
      <header>
        <div class="desktop-header">
          <h1 class="header-logo"><a href="/"><img class="banner--desktop" src="assets/images/gs-logo-white.png" /></a></h1>
          <ul>
            <li>
              <a href="/" title="Go to {{ item.title }}">Home</a>
            </li>
            {% for item in site.menus.header %}
              <li>
                <a href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="mobile-header">
          <h1 class="header-logo"><a href="/"><img src="assets/images/gs-logo-white.png" /></a></h1>
          <button type="button" class="drawer-toggle drawer-hamburger">
          <span class="sr-only">toggle navigation</span>
          <span class="drawer-hamburger-icon"></span>
          </button>
          <nav class="drawer-nav" role="navigation">
            <ul class="drawer-menu">
              <li>
                <a class="drawer-menu-item" href="/" title="Go to {{ item.title }}">Home</a>
              </li>
              {% for item in site.menus.header %}
                <li class="menu-item-{{ loop.index }}">
                  <a  class="drawer-menu-item" href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </header>
      <!--HERO-->
      <div class="grid hero">
        <div class="grid__item sm--12">
          <img class="banner--desktop" src="{{ site.data.homepage-content.desktop_image }}" />
          <img class="banner--mobile" src="{{ site.data.homepage-content.mobile_image }}" />
        </div>
      </div>
      <!--USPS-->
      <div class="grid usps">
        <div class="grid__item sm--12 md--10 md--push-1 lg--8 lg--push-2">
          <div class="grid grid--sm-padded grid--h-center">
            <div class="grid__item sm--12">
              <p class="text--large"><strong>{{ site.data.homepage-content.lead_paragraph }}</strong></p>
            </div>
            <div class="grid__item sm--12 md--6">
              <p>{{ site.data.homepage-content.first_paragraph }}</p>
            </div>
            <div class="grid__item sm--12 md--6">
              <p>{{ site.data.homepage-content.second_paragraph }}</p>
            </div>
          </div>
        </div>
        <div class="grid__item sm--12 md--10 md--push-1 lg--8 lg--push-2">
          <div class="grid grid--sm-padded grid--h-center">
            <div class="grid__item sm--12">
              <h2 class="usps__title">{{ site.data.homepage-content.usp_title }}</h2>
            </div>

            {% for usp in site.data.homepage-content.usps %}
              <div class="grid__item sm--12 md--6 lg--4">
                <img class="usp__icon" src="{{ usp.image }}?sanitize=true" />
                <p class="usps__para">{{ usp.description }}</p>
              </div>
            {% endfor %}
            <div class="grid__item sm--12">
              <h2 class="usps__title">{{ site.data.homepage-content.usp_footer }}</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- PORTFOLIO -->
      <div class="grid portfolio">
        {% for site in site.data.homepage-sites %}
          <div class="grid__item sm--12 lg--6">
            <div class="portfolio__item">
              <div class="portfolio__background" style="background-image: url('{{ site.image }}')"></div>
              <div class="portfolio__content grid">
                <div class="grid__item sm--10 lg--7">
                  <h3 class="portfolio__title">{{ site.name }}</h3>
                  <p class="portfolio__para">{{ site.desc }}</p>
                  {% for link in site.links %}
                    <a href="{{ link.url }}" class="btn btn--primary">{{ link.label }}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="grid contact" style="background-image: url('{{ site.data.homepage-content.footer_background_image }}');">
        <div class="grid__item sm--12 md--10 md--push-1 lg--6 lg--push-3">
          <form class="grid grid--sm-padded" method="POST" netlify-honeypot="bot-field" action="/thanks.html" netlify>
            <div class="grid__item sm--12">
              <h2 class="contact__title">Contact Us</h2>
            </div>
            <p style="display: none;">
              <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
            </p>
            <div class="grid__item sm--12 lg--6">
              <input type="text" name="Name" placeholder="Name" required />
            </div>
            <div class="grid__item sm--12 lg--6">
              <input type="email" name="Email" placeholder="Email" required />
            </div>
            <div class="grid__item sm--12">
              <textarea class="contact__message" name="Message" placeholder="Message" required></textarea>
            </div>
            <div class="grid__item sm--12">
              <button type="submit" class="btn btn--primary contact__submit">Send Message</button>
            </div>
          </form>
          <footer class="grid">
            <div class="grid__item sm--12">
              <p>Copyright &copy; Green Snow Limited. Registered Company Number 10397630. VAT No.256874167</p>
              <p></p>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        $('.drawer').drawer();
      });
    </script>
  </body>
</html>
  
